*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: radial-gradient(circle at top, #1f3756, #141539) no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow-x: hidden;
  padding: 3.2rem 0;
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 4.8rem;
  }
}

.container {
  width: 83%;
  max-width: 700px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  min-height: 0;
  height: 0;
}

button {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}

.overlay.rules-open {
  display: block;
}

.rules-module {
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 9.5rem 0 6.5rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  .rules-module {
    width: 400px;
    height: 415px;
    margin: auto;
    padding: 0;
    border-radius: 8px;
  }
}

.rules-module.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .rules-module.open {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.rules-module span {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #3b4262;
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .rules-module span {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .rules-module img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.rules-module .close {
  border: none;
  background: transparent;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 1024px) {
  .rules-module .close {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
  }
}

.heading {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.2rem;
  margin: 0 auto 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
}

@media screen and (min-width: 1024px) {
  .heading {
    margin-bottom: 7.2rem;
  }
}

.heading img {
  width: 83px;
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .heading img {
    width: 160px;
  }
}

.heading .scorecard {
  background: #fff;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .heading .scorecard {
    width: 150px;
    padding: 1.6rem 0;
  }
}

.heading .scorecard .title {
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #2a45c2;
}

@media screen and (min-width: 1024px) {
  .heading .scorecard .title {
    font-size: 1.6rem;
    letter-spacing: 2.5px;
  }
}

.heading .scorecard .score {
  font-size: 4rem;
  font-weight: 700;
  color: #565468;
}

@media screen and (min-width: 1024px) {
  .heading .scorecard .score {
    font-size: 6.4rem;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60vh;
  position: relative;
}

@media screen and (min-width: 1024px) {
  main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.game-container {
  padding-top: 7rem;
}

@media screen and (min-width: 1024px) {
  .game-container {
    padding-top: 8rem;
  }
}

.game-container .choices-container {
  position: relative;
  max-width: 476px;
  margin: 0 auto;
}

.game-container .choices-container .triangle {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.game-container .choices-container .choice-container {
  position: absolute;
}

.game-container .choices-container .paper {
  top: -60px;
  left: 0%;
}

@media screen and (min-width: 1024px) {
  .game-container .choices-container .paper {
    top: -80px;
  }
}

.game-container .choices-container .scissors {
  top: -60px;
  right: 0;
}

@media screen and (min-width: 1024px) {
  .game-container .choices-container .scissors {
    top: -80px;
  }
}

.game-container .choices-container .rock {
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (min-width: 1024px) {
  .game-container .choices-container .rock {
    bottom: -80px;
  }
}

.choice-container {
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}

@media screen and (min-width: 1024px) {
  .choice-container {
    width: 200px;
    height: 200px;
  }
}

.choice-container.paper {
  background: #4664f4;
  -webkit-box-shadow: 0 5px 0 #2a45c2;
          box-shadow: 0 5px 0 #2a45c2;
}

@media screen and (min-width: 1024px) {
  .choice-container.paper {
    -webkit-box-shadow: 0 10px 0 #2a45c2;
            box-shadow: 0 10px 0 #2a45c2;
  }
}

.choice-container.paper .choice-icon {
  background: url(../images/icon-paper.svg) no-repeat center/contain;
  width: 48px;
  height: 56px;
}

@media screen and (min-width: 1024px) {
  .choice-container.paper .choice-icon {
    width: 73px;
    height: 86px;
  }
}

.choice-container.scissors {
  background: #eb9f0e;
  -webkit-box-shadow: 0 5px 0 #c76c1b;
          box-shadow: 0 5px 0 #c76c1b;
}

@media screen and (min-width: 1024px) {
  .choice-container.scissors {
    -webkit-box-shadow: 0 10px 0 #c76c1b;
            box-shadow: 0 10px 0 #c76c1b;
  }
}

.choice-container.scissors .choice-icon {
  background: url(../images/icon-scissors.svg) no-repeat center/contain;
  width: 63px;
  height: 63px;
}

@media screen and (min-width: 1024px) {
  .choice-container.scissors .choice-icon {
    width: 96px;
    height: 96px;
  }
}

.choice-container.rock {
  background: #db2e4d;
  -webkit-box-shadow: 0 5px 0 #9d1634;
          box-shadow: 0 5px 0 #9d1634;
}

@media screen and (min-width: 1024px) {
  .choice-container.rock {
    -webkit-box-shadow: 0 10px 0 #9d1634;
            box-shadow: 0 10px 0 #9d1634;
  }
}

.choice-container.rock .choice-icon {
  background: url(../images/icon-rock.svg) no-repeat center/contain;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1024px) {
  .choice-container.rock .choice-icon {
    width: 76px;
    height: 76px;
  }
}

.choice-container.paper .choice,
.choice-container.scissors .choice,
.choice-container.rock .choice {
  background: #fff;
  -webkit-box-shadow: inset 0 5px 0 #babfd4;
          box-shadow: inset 0 5px 0 #babfd4;
}

@media screen and (min-width: 1024px) {
  .choice-container.paper .choice,
  .choice-container.scissors .choice,
  .choice-container.rock .choice {
    -webkit-box-shadow: inset 0 10px 0 #babfd4;
            box-shadow: inset 0 10px 0 #babfd4;
  }
}

.choice-container .choice {
  background: #192845;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}

@media screen and (min-width: 1024px) {
  .choice-container .choice {
    width: 150px;
    height: 150px;
  }
}

.btn {
  padding: 1rem 3.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-radius: 8px;
}

.rules {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .rules {
    position: absolute;
    right: 3.2rem;
    bottom: 0;
  }
}

.restart {
  background: #fff;
  border: 1px solid #fff;
  color: #3b4262;
  padding: 1.5rem 6rem;
  margin-top: 1.6rem;
}

.game-container.step-2,
.game-container.step-3 {
  padding-top: 0;
}

.game-container.step-2 .choices-container,
.game-container.step-3 .choices-container {
  display: none;
}

.game-container.step-2 .shoot,
.game-container.step-3 .shoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .game-container.step-2 .shoot,
  .game-container.step-3 .shoot {
    max-width: 700px;
  }
}

.game-container.step-2 .shoot .p1,
.game-container.step-2 .shoot .computer,
.game-container.step-3 .shoot .p1,
.game-container.step-3 .shoot .computer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .game-container.step-2 .shoot .p1,
  .game-container.step-2 .shoot .computer,
  .game-container.step-3 .shoot .p1,
  .game-container.step-3 .shoot .computer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .game-container.step-2 .shoot .p1 .choice-container,
  .game-container.step-2 .shoot .computer .choice-container,
  .game-container.step-3 .shoot .p1 .choice-container,
  .game-container.step-3 .shoot .computer .choice-container {
    width: 300px;
    height: 300px;
  }
  .game-container.step-2 .shoot .p1 .choice-container .choice,
  .game-container.step-2 .shoot .computer .choice-container .choice,
  .game-container.step-3 .shoot .p1 .choice-container .choice,
  .game-container.step-3 .shoot .computer .choice-container .choice {
    width: 225px;
    height: 225px;
  }
}

.game-container.step-2 .shoot-title,
.game-container.step-3 .shoot-title {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .game-container.step-2 .shoot-title,
  .game-container.step-3 .shoot-title {
    margin-top: 0;
    margin-bottom: 5rem;
    font-size: 2.4rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .game-container.step-3 .container {
    width: 950px;
    max-width: 950px;
    position: relative;
  }
}

.game-container.step-3 .shoot {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .game-container.step-3 .shoot {
    max-width: 950px;
    width: 100%;
  }
}

.game-container.step-3 .p1.win::after,
.game-container.step-3 .computer.win::after {
  content: '';
  width: 280px;
  height: 280px;
  background: #fff;
  opacity: 0.05;
  border-radius: 100%;
  position: absolute;
  top: -45%;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .game-container.step-3 .p1.win::after,
  .game-container.step-3 .computer.win::after {
    width: 720px;
    height: 720px;
    top: unset;
    bottom: -50%;
  }
}

.game-container.step-3 .p1.win .choice-container::after,
.game-container.step-3 .computer.win .choice-container::after {
  content: '';
  width: 220px;
  height: 220px;
  background: #fff;
  opacity: 0.05;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .game-container.step-3 .p1.win .choice-container::after,
  .game-container.step-3 .computer.win .choice-container::after {
    width: 560px;
    height: 560px;
  }
}

.game-container.step-3 .p1.win .choice-container .choice::after,
.game-container.step-3 .computer.win .choice-container .choice::after {
  content: '';
  width: 170px;
  height: 170px;
  position: absolute;
  background: #fff;
  opacity: 0.05;
  border-radius: 100%;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .game-container.step-3 .p1.win .choice-container .choice::after,
  .game-container.step-3 .computer.win .choice-container .choice::after {
    width: 420px;
    height: 420px;
  }
}

.game-container.step-3 .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

@media screen and (min-width: 1024px) {
  .game-container.step-3 .results {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.game-container.step-3 .results .outcome {
  font-size: 5.6rem;
  color: #fff;
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */