*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: radial-gradient(
			circle at top,
			hsl(214, 47%, 23%),
			hsl(237, 49%, 15%)
		)
		no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

@mixin desktop {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

.container {
	width: 83%;
	max-width: 700px;
	margin: 0 auto;
	padding: 3.2rem 0;
}

.hidden {
	visibility: hidden;
}

header {
	border: 3px solid rgba($color: #fff, $alpha: 0.5);
	border-radius: 5px;
	padding: 1.2rem;
	margin: 0 auto 16rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 700px;

	img {
		width: 83px;
		margin-left: 1rem;

		@include desktop {
			width: 160px;
		}
	}

	.scorecard {
		background: #fff;
		width: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
		border-radius: 5px;

		@include desktop {
			width: 150px;
			padding: 1.6rem 0;
		}

		.title {
			font-weight: 600;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			color: #2a45c2;

			@include desktop {
				font-size: 1.6rem;
				letter-spacing: 2.5px;
			}
		}

		.score {
			font-size: 4rem;
			font-weight: 700;
			color: #565468;

			@include desktop {
				font-size: 6.4rem;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60vh;
}

.game-container {
	max-width: 476px;
	margin: 0 auto;

	.choices-container {
		position: relative;

		.triangle {
			width: 65%;
			display: block;
			margin: 0 auto;

			@include desktop {
				width: 100%;
			}
		}

		.choice-container {
			position: absolute;
			width: 130px;
			height: 130px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;

			@include desktop {
				width: 200px;
				height: 200px;
			}

			&.paper {
				top: -60px;
				left: 0%;
				background: #4664f4;
				box-shadow: 0 5px 0 #2a45c2;

				@include desktop {
					top: -80px;
					left: -100px;
				}
			}

			&.scissors {
				top: -60px;
				right: 0;
				background: #eb9f0e;
				box-shadow: 0 5px 0 #c76c1b;

				@include desktop {
					top: -80px;
					right: -100px;
				}
			}

			&.rock {
				bottom: -40px;
				left: 50%;
				transform: translate(-50%);
				background: #db2e4d;
				box-shadow: 0 5px 0 #9d1634;

				@include desktop {
					bottom: -80px;
				}
			}
		}

		.choice {
			background: #fff;
			width: 100px;
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			box-shadow: inset 0 5px 0 #babfd4;

			@include desktop {
				width: 150px;
				height: 150px;
			}

			img {
				width: 50%;
			}
		}
	}
}

.btn {
	padding: 1rem 3.6rem;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border-radius: 8px;
}

.rules {
	align-self: center;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;

	@include desktop {
		position: absolute;
		right: 3.2rem;
		bottom: 3.2rem;
	}
}
