@mixin desktop {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	background: radial-gradient(
			circle at top,
			hsl(214, 47%, 23%),
			hsl(237, 49%, 15%)
		)
		no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 100%;
	font-family: 'Barlow Semi Condensed', sans-serif;
	overflow-x: hidden;
	padding: 3.2rem 0;

	@include desktop {
		padding-top: 4.8rem;
	}
}

.container {
	width: 83%;
	max-width: 700px;
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
	min-height: 0;
	height: 0;
}

button {
	cursor: pointer;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba($color: #000, $alpha: 0.4);
	z-index: 3;
	display: none;

	&.rules-open {
		display: block;
	}
}

.rules-module {
	position: absolute;
	background: #fff;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	padding: 9.5rem 0 6.5rem;
	display: none;

	@include desktop {
		width: 400px;
		height: 415px;
		margin: auto;
		padding: 0;
		border-radius: 8px;
	}

	&.open {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@include desktop {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	span {
		font-size: 3.2rem;
		text-transform: uppercase;
		color: #3b4262;
		width: 70%;

		@include desktop {
			order: 1;
		}
	}

	img {
		@include desktop {
			order: 3;
		}
	}

	.close {
		border: none;
		background: transparent;
		padding: 1.5rem 2rem;

		@include desktop {
			order: 2;
			width: auto;
		}
	}
}

.heading {
	border: 3px solid rgba($color: #fff, $alpha: 0.5);
	border-radius: 5px;
	padding: 1.2rem;
	margin: 0 auto 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 700px;

	@include desktop {
		margin-bottom: 7.2rem;
	}

	img {
		width: 83px;
		margin-left: 1rem;

		@include desktop {
			width: 160px;
		}
	}

	.scorecard {
		background: #fff;
		width: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
		border-radius: 5px;

		@include desktop {
			width: 150px;
			padding: 1.6rem 0;
		}

		.title {
			font-weight: 600;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			color: #2a45c2;

			@include desktop {
				font-size: 1.6rem;
				letter-spacing: 2.5px;
			}
		}

		.score {
			font-size: 4rem;
			font-weight: 700;
			color: #565468;

			@include desktop {
				font-size: 6.4rem;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 60vh;
	position: relative;

	@include desktop {
		justify-content: flex-start;
	}
}

.game-container {
	padding-top: 7rem;

	@include desktop {
		padding-top: 8rem;
	}

	.choices-container {
		position: relative;
		max-width: 476px;
		margin: 0 auto;

		.triangle {
			width: 65%;
			display: block;
			margin: 0 auto;
		}

		.choice-container {
			position: absolute;
		}

		.paper {
			top: -60px;
			left: 0%;

			@include desktop {
				top: -80px;
			}
		}

		.scissors {
			top: -60px;
			right: 0;

			@include desktop {
				top: -80px;
			}
		}

		.rock {
			bottom: -40px;
			left: 50%;
			transform: translate(-50%);

			@include desktop {
				bottom: -80px;
			}
		}
	}
}

.choice-container {
	width: 130px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;

	@include desktop {
		width: 200px;
		height: 200px;
	}

	&.paper {
		background: #4664f4;
		box-shadow: 0 5px 0 #2a45c2;

		@include desktop {
			box-shadow: 0 10px 0 #2a45c2;
		}

		.choice-icon {
			background: url(../images/icon-paper.svg) no-repeat center/contain;
			width: 48px;
			height: 56px;

			@include desktop {
				width: 73px;
				height: 86px;
			}
		}
	}

	&.scissors {
		background: #eb9f0e;
		box-shadow: 0 5px 0 #c76c1b;

		@include desktop {
			box-shadow: 0 10px 0 #c76c1b;
		}

		.choice-icon {
			background: url(../images/icon-scissors.svg) no-repeat center/contain;
			width: 63px;
			height: 63px;

			@include desktop {
				width: 96px;
				height: 96px;
			}
		}
	}

	&.rock {
		background: #db2e4d;
		box-shadow: 0 5px 0 #9d1634;

		@include desktop {
			box-shadow: 0 10px 0 #9d1634;
		}

		.choice-icon {
			background: url(../images/icon-rock.svg) no-repeat center/contain;
			width: 50px;
			height: 50px;

			@include desktop {
				width: 76px;
				height: 76px;
			}
		}
	}

	&.paper .choice,
	&.scissors .choice,
	&.rock .choice {
		background: #fff;
		box-shadow: inset 0 5px 0 #babfd4;

		@include desktop {
			box-shadow: inset 0 10px 0 #babfd4;
		}
	}

	.choice {
		background: #192845;
		width: 100px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;

		@include desktop {
			width: 150px;
			height: 150px;
		}
	}
}

.btn {
	padding: 1rem 3.6rem;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border-radius: 8px;
}

.rules {
	align-self: center;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;

	@include desktop {
		position: absolute;
		right: 3.2rem;
		bottom: 0;
	}
}

.restart {
	background: #fff;
	border: 1px solid #fff;
	color: #3b4262;
	padding: 1.5rem 6rem;
	margin-top: 1.6rem;
}

.game-container.step-2,
.game-container.step-3 {
	padding-top: 0;

	.choices-container {
		display: none;
	}

	.shoot {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 500px;
		margin: 0 auto;

		@include desktop {
			max-width: 700px;
		}

		.p1,
		.computer {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@include desktop {
				flex-direction: column-reverse;
			}

			.choice-container {
				@include desktop {
					width: 300px;
					height: 300px;

					.choice {
						width: 225px;
						height: 225px;
					}
				}
			}
		}

		&-title {
			font-size: 1.5rem;
			color: #fff;
			letter-spacing: 1.8px;
			text-transform: uppercase;
			margin-top: 2rem;
			font-weight: 700;

			@include desktop {
				margin-top: 0;
				margin-bottom: 5rem;
				font-size: 2.4rem;
				letter-spacing: 3px;
			}
		}
	}
}

.game-container.step-3 {
	.container {
		@include desktop {
			width: 950px;
			max-width: 950px;
			position: relative;
		}
	}

	.shoot {
		position: relative;

		@include desktop {
			max-width: 950px;
			width: 100%;
		}
	}

	.p1.win,
	.computer.win {
		&::after {
			content: '';
			width: 280px;
			height: 280px;
			background: #fff;
			opacity: 0.05;
			border-radius: 100%;
			position: absolute;
			top: -45%;
			z-index: -1;

			@include desktop {
				width: 720px;
				height: 720px;
				top: unset;
				bottom: -50%;
			}
		}

		.choice-container {
			&::after {
				content: '';
				width: 220px;
				height: 220px;
				background: #fff;
				opacity: 0.05;
				border-radius: 100%;
				position: absolute;
				z-index: -1;

				@include desktop {
					width: 560px;
					height: 560px;
				}
			}

			.choice::after {
				content: '';
				width: 170px;
				height: 170px;
				position: absolute;
				background: #fff;
				opacity: 0.05;
				border-radius: 100%;
				z-index: -1;

				@include desktop {
					width: 420px;
					height: 420px;
				}
			}
		}
	}

	.results {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 6rem;

		@include desktop {
			position: absolute;
			margin-top: 0;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			justify-content: center;
		}

		.outcome {
			font-size: 5.6rem;
			color: #fff;
			text-transform: uppercase;
		}
	}
}
