.results {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;

	@include desktop {
		position: absolute;
		margin-top: 0;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		justify-content: center;
	}

	.outcome {
		font-size: 5.6rem;
		color: #fff;
		text-transform: uppercase;
	}
}
