.heading {
	border: 3px solid rgba($color: #fff, $alpha: 0.5);
	border-radius: 5px;
	padding: 1.2rem;
	margin: 0 auto 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 700px;

	@include desktop {
		margin-bottom: 7.2rem;
	}

	img {
		width: 83px;
		margin-left: 1rem;

		@include desktop {
			width: 160px;
		}
	}

	.scorecard {
		background: #fff;
		width: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
		border-radius: 5px;

		@include desktop {
			width: 150px;
			padding: 1.6rem 0;
		}

		.title {
			font-weight: 600;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			color: #2a45c2;

			@include desktop {
				font-size: 1.6rem;
				letter-spacing: 2.5px;
			}
		}

		.score {
			font-size: 4rem;
			font-weight: 700;
			color: #565468;

			@include desktop {
				font-size: 6.4rem;
			}
		}
	}
}
